body
{
	background-color: pink;
	
}
*
{
		margin: auto;

}
h1
{
	
	text-align: center;
}

header
{
	background-color: red;
	margin-bottom:10px;
}

ul
{
	background-color: white;
}

.bas
{
	text-align: center;
}


#Menu{
	margin: auto;
	margin-left:5%;
	margin-right:5%;
	display:inline;
	
}

.Choix{
	
	text-align:center;
	font-size:20pt; 
	background-color:pink;
	text-decoration:none;
	padding-left:10%;
	padding-right:10%;
	border-radius:10%;
}

.liste
{
	display: inline-block;
	width: 12%;
	height: 12%;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background-color: blue;

}
